@charset "utf-8";


@media screen and (max-width:768px){
    
    /*모바일세팅*/
    body{
        min-width:auto;
    }
    
    .inner{
        width:auto;
        margin:0;
    }

    #container{}
    .cf::after{
        display: none;
    }

          
    /*header*/
    #header{
        padding:0;
        text-align:center;
        font-family:'Black Han Sans', sans-serif;
    }
    
    #header h1{
        font-size:2.5em;
        margin-top:10%;
        margin-bottom:0;
    }
    #header h2{
        font-size:1.5em;
        margin-bottom:8%;
        margin-top:0;
        
    }   
    
    /*메인*/
    #container li,#container .ioniq5{
        float:none;
        display:block;
        width:100%;
        position:relative;
        margin:0 0 4%;

    }

    .ioniq5 img{
        display: block;
        width:100%;
        
    }
    /* 링크 */
    .ioniqH a,.trappistH a,.fortnumH a,.guinnessH a,.harimH a{
        background:none;
        padding:0;
    }
    
    .ioniqH h3,.trappistH h3,.fortnumH h3,.guinnessH h3,.harimH h3{
        color:#fff;
        font-weight: 400;
        font-size: 1.5em;
        display: none;

    }
    
    .ioniqH p,.trappistH p,.fortnumH p,.guinnessH p,.harimH p{
        color:#fff;
        margin:6px 0;
        font-size: 0.8em;
        display: none;
    }

    #container .mainCon li:last-child,#container .mainCon li:nth-child(4){
        margin-bottom:4%;
    }
    